.wrapper {
  align-items: center;
  display: grid;
  grid-template: 1fr auto / auto;
  height: 100dvh;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.headerContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.headerTexts {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
}

.h1 {
  font-size: 8.4rem;
}

.headerDescription {
  font-size: 2rem;
}

.button {
  background: #34a853;
  border-radius: 4px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 900;
  height: 48px;
  width: 320px;
}

.footer {
  background: #f8f9fa;
  font-size: 1.2rem;
  padding: 12px 0;
  text-align: center;
  width: 100%;
}
