.topWrapper {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 181;
}

.nav {
  background: #f9fafb;
  display: flex;
  flex-direction: column;
}

.buttonsWrapper {
  align-items: center;
  background: #edf2fa;
  display: flex;
  gap: 6px;
  padding: 6px 12px;
}

.button {
  aspect-ratio: 1 / 1;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px #000;
  display: flex;
  padding: 6px;
}

.separater {
  background: #ccc;
  height: 16px;
  margin: 0 4px;
  width: 1px;
}

.menubar {
  border: 0;
  font-size: 80%;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.tippy {
  background: #edf2fa;
  box-shadow: 2px 2px 4px 2px rgba(#000, 0.25);
  padding: 4px 2px;
}

.tippyContentInner {
  display: grid;
  gap: 8px;
}

.resetButton {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px #000;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.colorb80000 {
  color: #b80000;
}

.colordb3e00 {
  color: #db3e00;
}

.colorfccb00 {
  color: #fccb00;
}

.color008b02 {
  color: #008b02;
}

.color006b76 {
  color: #006b76;
}

.color1273de {
  color: #1273de;
}

.color004dcf {
  color: #004dcf;
}

.color5300eb {
  color: #5300eb;
}

.coloreb9694 {
  color: #eb9694;
}

.colorfad0c3 {
  color: #fad0c3;
}

.colorfef3bd {
  color: #fef3bd;
}

.colorc1e1c5 {
  color: #c1e1c5;
}

.colorbedadc {
  color: #bedadc;
}

.colorc4def6 {
  color: #c4def6;
}

.colorbed3f3 {
  color: #bed3f3;
}

.colord4c4fb {
  color: #d4c4fb;
}

.backgroundb80000 {
  background: #b80000 !important;
}

.backgrounddb3e00 {
  background: #db3e00 !important;
}

.backgroundfccb00 {
  background: #fccb00 !important;
}

.background008b02 {
  background: #008b02 !important;
}

.background006b76 {
  background: #006b76 !important;
}

.background1273de {
  background: #1273de !important;
}

.background004dcf {
  background: #004dcf !important;
}

.background5300eb {
  background: #5300eb !important;
}

.backgroundeb9694 {
  background: #eb9694 !important;
}

.backgroundfad0c3 {
  background: #fad0c3 !important;
}

.backgroundfef3bd {
  background: #fef3bd !important;
}

.backgroundc1e1c5 {
  background: #c1e1c5 !important;
}

.backgroundbedadc {
  background: #bedadc !important;
}

.backgroundc4def6 {
  background: #c4def6 !important;
}

.backgroundbed3f3 {
  background: #bed3f3 !important;
}

.backgroundd4c4fb {
  background: #d4c4fb !important;
}

.borderButtonsWrapper {
  display: grid;
  gap: 6px;
  grid-template: repeat(2, auto) / repeat(5, auto);
}
