.topWrapper {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 181;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.backgroundColorb80000 {
  background: #b80000 !important;
}

.backgroundColordb3e00 {
  background: #db3e00 !important;
}

.backgroundColorfccb00 {
  background: #fccb00 !important;
}

.backgroundColor008b02 {
  background: #008b02 !important;
}

.backgroundColor006b76 {
  background: #006b76 !important;
}

.backgroundColor1273de {
  background: #1273de !important;
}

.backgroundColor004dcf {
  background: #004dcf !important;
}

.backgroundColor5300eb {
  background: #5300eb !important;
}

.backgroundColoreb9694 {
  background: #eb9694 !important;
}

.backgroundColorfad0c3 {
  background: #fad0c3 !important;
}

.backgroundColorfef3bd {
  background: #fef3bd !important;
}

.backgroundColorc1e1c5 {
  background: #c1e1c5 !important;
}

.backgroundColorbedadc {
  background: #bedadc !important;
}

.backgroundColorc4def6 {
  background: #c4def6 !important;
}

.backgroundColorbed3f3 {
  background: #bed3f3 !important;
}

.backgroundColord4c4fb {
  background: #d4c4fb !important;
}

.colorb80000 {
  color: #b80000;
}

.colordb3e00 {
  color: #db3e00;
}

.colorfccb00 {
  color: #fccb00;
}

.color008b02 {
  color: #008b02;
}

.color006b76 {
  color: #006b76;
}

.color1273de {
  color: #1273de;
}

.color004dcf {
  color: #004dcf;
}

.color5300eb {
  color: #5300eb;
}

.coloreb9694 {
  color: #eb9694;
}

.colorfad0c3 {
  color: #fad0c3;
}

.colorfef3bd {
  color: #fef3bd;
}

.colorc1e1c5 {
  color: #c1e1c5;
}

.colorbedadc {
  color: #bedadc;
}

.colorc4def6 {
  color: #c4def6;
}

.colorbed3f3 {
  color: #bed3f3;
}

.colord4c4fb {
  color: #d4c4fb;
}
